*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'playfair';
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
#logo{
    font-family: 'playfair';
}
.navbar-nav{
    font-family: 'roboto';
}

.heading{
    font-family: 'playfair';
    color: white;
    /* margin: 0px 0px 48px; */
    /* width: 526px; */
    /* margin-top: 130px; */
    font-weight: bolder;
    font-size: 50px;
    margin-left: auto;
}
#heading2{
    color: gainsboro;
    margin-left: auto;
    width: 526px;
    margin-top: 60px;
    font-family: 'roboto';
}
  

#main {
    background: url('images/background.jpg') center center fixed no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.navbar {
    background: transparent;
    z-index: 1000;
    color: white;
}
a{
    color: white;
}
.navbar-toggler-icon {
    color: white;
}
.navbar-toggler-icon:after {
    top: 26px;
}
.navbar-toggler-icon::after{
        background: #fff;
    
}

.btn{
    background-color: blueviolet;
    width: 150px;

}
#btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
#para{
    color: antiquewhite !important;
}
#row1{
    width: 50%;
}
.pic-img{
    width: 50%;
    position: relative;
    max-width: 50%;
}
#heading1{
    margin-left: 30px;
    font-size: 45px;
    margin-top: 130px;
}
#button1{
    width: 150px;
    margin-left: 30px;
    margin-top: 30px;
    height: 45px;
    background-color: blueviolet;
    color: white;
    font-family: 'roboto';
}
.HEADING2{
    width: 70%;
    padding-left: 30px;
    color: antiquewhite;
    font-family: 'rbooto';
    font-size: 14px;
    margin-top: 70px !important;
}
.heading2{

        width: 70%;
        padding-left: 30px;
        color: antiquewhite;
        font-family: 'rbooto';
        font-size: 14px;
        margin-top: 0px;
}
#MAIN2{
    display: flex;
    
}
#img1{
    margin-left: 20px;
    width: 85%;
    height: 440px;
    margin-top: 90px;
    z-index: -10;
    margin-bottom: 140px;
}
#dummy{
    background: black;
    width: 100%;
    height: 150px;
    position: absolute;
    top: 380px;
    right: 0;
    z-index: -1;
}
#main3{
    background-color: #1F2022;
}
#card-1{
    width: 30%;
    height: 240px;
    /* border: 1px solid black; */
    margin-left: 30px;
    margin-top: 8px;
    max-height: 900px;
    min-height: 340px;
}
#heading4{
    color: white;
    font-family: 'playfair';
    padding-top: 60px;
    margin-bottom: 100px;
    margin-left: 60px;
}
#card-1 h3{
    color: white;
    font-family: 'playfair';
}
#card-1 p{
    color: brown;
}
.circle{
    border-radius: 50% ;
    background-color: blue;
    width: 60px;
    height: 60px;
}
#main4{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.918);
    display: flex;
    height: 900px;
}
#main4-row1{
    width: 65%;
    padding-left: 70px;
    /* display: flex; */
}
#main4-row1 h1{
    margin-top: 150px;
}
#main4 h1{
    color: white;
    font-family: 'playfair';
}
#main4-row2{
    width: 30%;
}
#main4-row2 h2{
    color: white;
    font-family: 'playfair';
    margin-top: 300px;
    margin-left: 30px;
}
#main4-row2 p{
    color: white;
    font-family: 'roboto';
    margin-top: 30px;
    margin-left: 30px;
}
#img2{
    width: 90%;
    margin-left: 0px;
    margin-top: 60px;
}
#btn4{
    background-color: blueviolet;
    color: white;
    font-family: 'roboto';
    width: 150px;
    height: 50px;
    margin-left: 30px;
    margin-top: 30px;
}
#main5{
    background-color: rgba(0, 0, 0, 0.918);
}
#main5 h1 {
    color: white;
    font-family: 'playfair';
    margin-left: 90px;
    margin-bottom: 70px;
}
#table1{
    border: 3px solid #151515;
    /* width: 250px; */
    /* margin-left: 5px; */
    background-color: rgba(0, 0, 0, 0.822);
}
th{
    color: white;
}
#main6{
    padding: 70px;
    /* border: 10px solid black; */
    /* display: flex; */
}
#main5 h1{
    padding-top: 10px;
}
#card-3{
    display: flex;
    flex-wrap: wrap;
}
#td3{
    height: 100px;
    width: 40px;
    /* border: 1px solid white; */
}
#td1{
    width: 50px;
    height: 80px;
    padding-left: 10px;
    color: white;
}
#th{
    color: white;
}
#card-3{
    /* border: 1px solid black; */
    /* width: 945px; */
    display: flex;
    justify-content: center;
}
#td2{
    padding-left: 10px;
    padding-bottom: 10px;
    color: white;
}
#table1:hover{
    background-color: blueviolet;
}
.chattings{
    display: flex;
    padding-top: 10px;
    /* border: 1px solid black; */
}
.profile img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
}
.chattings1{
    background-color: blueviolet;
    display: flex;
    /* border: 1px solid black; */
}
#he3{
    color: brown;
}
.chat-name h3{
    color: blueviolet;
}
.chat-name h5{
    color: brown;
}
.chattings1 .chat-name h3{
    color: white !important;
}
.chattings1 .chat-name h5{
    color: white !important;
}
.chat-name{
    margin-left: 20px;
    font-family: 'roboto';
    margin-top: 10px;
    margin-bottom: 10px;
}
#pre-main{
    background-color: #151515;
}
#pre-main h1{
    margin-bottom: 100px;
    padding-top: 80px;
    color: white;
    font-family: 'playfair';
    margin-left: 90px;
}
#main7{
    display: flex;
    width: 100%;
}
#main8{
    width: 35%;
    margin-left: 90px;
    margin-right: auto;
}
#main9{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'roboto';
}
#main10{
    background-color: #151515;
    width: 100%;
    margin-bottom: 0px;
    /* margin-left: 50px; */
    padding-left: 50px;
}
#main10 h1{
    color: white;
    font-family: 'playfair';
    padding-top: 180px;
    margin-left: 100px;
}
#main10 h5{
    color: rgba(165, 42, 42, 0.406);
    font-family: 'roboto';
    margin-left: 100px;
    margin-right: 90px;
    margin-top: 60px;
}
ul{
    list-style-image: url(images/tick.png);
    margin: 0;
    padding: 0;
}
#bg{
    background-color: #151515;
}

li:hover{
    text-decoration: none;
    color: whitesmoke;
}
#main11{
    background-color: #1F2022;
    /* border: 2px solid white; */
    margin: 70px;
    display: flex;
}
#ul-1{
    width: 22%;
    margin-left: 50px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgba(165, 42, 42, 0.938);
}
#ul-2{
    width: 22%;
    margin-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgba(165, 42, 42, 0.938);
}
#ul-3{
    width: 22%;
    margin-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    color: rgba(165, 42, 42, 0.938);
}
#ul-4{
    width: 22%;
    margin-left: 30px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    color: rgba(165, 42, 42, 0.938);
}
#img3{
    width: 87%;
    padding-left: 90px;
    height: auto;
}
#main12{
    width: 100%;
    display: flex;

}
#main12-1 h1{
    color: white;
    font-family: 'playfair'; 
    padding-left: 50px;   
}
#main12-1 h5{
    color: white;
    font-family: 'roboto';
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 30px;
}
#main12-1 button{
    background-color: blueviolet;
    color: white;
    width: 150px;
    height: 40px;
    margin-left: 50px;
    margin-top: 40px;
    font-family: 'roboto';
}
#main12-2{
    width: 50%;
}
#main12-1{
    width: 50%;
}
#contacth1{
    color: white;
    font-family: 'playfair';
    padding-top: 100px;
    padding-left: 70px;
}
#main13{
    background-color: #151515;
}
#input1{
    background-color: #1F2022;
    width: 546px;
    border: none;
    outline: none;
    height: 54px;
    margin-bottom: 3px;
    color: white;
    margin-left: 80px;
    padding-left: 30px;
    margin-top: 40px;
}
#input2{
    background-color: #1F2022;
    width: 546px;
    border: none;
    outline: none;
    height: 54px;
    margin-bottom: 3px;
    color: white;
    padding-left: 30px;
    /* margin-left: 80px; */
}
#input3{
    background-color: #1F2022;
    width: 546px;
    border: none;
    outline: none;
    margin-bottom: 3px;
    color: white;
    height: 54px;
    margin-left: 80px;
    padding-left: 30px;
}
#input4{
    background-color: #1F2022;
    width: 546px;
    border: none;
    outline: none;
    margin-bottom: 3px;
    color: white;
    height: 54px;
    padding-left: 30px;
    /* margin-left: 80px; */
}
textarea{
    margin-left: 80px;
    width: 1092px;
    background-color: #1F2022;
    margin-top: 10px;
    outline: none;
    border: none;
    padding-left: 30px;
    color: white;
    padding-top: 20px;
}
#main13 button{
    background-color: blueviolet;
    color: white;
    font-family: 'roboto';
    width: 170px;
    border: none;
    outline: none;
    height: 50px;
    margin-left: 100px;
    margin-top: 40px;
}
input[type="placeholder"]{
    color: white;
}
.site-footer{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
}
.site-footer h3{
    color: white;
    font-family: 'playfair';
}
#ul1{
    margin-left: 30px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#last-footer{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    color:rgba(165, 42, 42, 0.759);
}
@media screen and (max-width: 768px) {
    #card-1{
        height: 440px;
        width: 40%;
    }
    #MAIN2{
        display: flex;
        flex-direction: column;
    }
    .pic-img{
        width: 100%;
    }
    #img1{
        width: 500px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    #row1{
        width: 100%;
    }
    #main4{
        display: flex;
        flex-direction: column;
    }
    #main4-row2{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    #main4-row2 h2{
        margin: 0;
        margin-left: 50px;
        margin-right: auto;
        margin-top: 70px;
        padding: 0;
    }
    #main4-row2 p{
        margin: 0;
        margin-left: 50px;
        margin-right: auto;
        margin-top: 40px;

    }
    #main4-row1 h1{
        font-size: 26pt;
        margin-left: 50px;
        margin-right: auto;
    }
    #main4-row1 img{
        width: 80%;
        padding-right: auto;
        margin-left: 50px;
    }
    #main4-row1{
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .col-md-6{
        width: 250px;
    }
    #main7{
        display: flex;
        flex-direction: column;
    }
    #main8{
        width: 90%;
        margin-left: 30px;
    }
    #main9{
        width: 85%;
        margin-left: 30px;
        margin-top: 30px;
    }
    #main10 h1{
        margin-left: 30px;
        margin-right: 30px;
    }
    #main10 h5{
        margin-left: 30px;
        margin-right: 30px;
    }
    #main11{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }
    #main11-1{
        margin: 0;
        padding: 0;
        margin-left: 30px;
        width: 100%;
    }
    #main11-2{
        margin: 0;
        padding: 0;
        margin-left: 30px;
        padding-top: 90px;
        width: 100%;
    }
    #main10{
        margin-left: 20px;
        padding: 0;
    }
    #main10 h1{
        margin-left: 20px;
    }
    #main10 h5{
        margin-bottom: 20px;
    }
    #main11{
        width: 100%;

    }
    #ul-1{
        width: 90%;
        font-size: 16pt;
    }
    #ul-2{
        width: 90%;
        font-size: 16pt;
    } 
    #ul-3{
        width: 90%;
        font-size: 16pt;
    } 
    #ul-4{
        width: 90%;
        font-size: 16pt;
    }
    #main12{
        width: 100%;
        flex-direction: column;
    }
    #main12-1{
        width: 100%;
    }
    #main12-1 h1{
        width: 100%;
        margin-top: 70px;
        font-size: 18pt;
    }
    #main12-2{
        width: 100%;
    }
    #main12-2 img{
        width: 90%;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 60px;
        padding: 0;
    }

.navbar-nav .nav-link:hover {
    color: white !important;
}
.nav-link:hover{
    color: white !important;
}
#nav-menu:hover{
    color: white !important;
}
}
@media screen and (max-width: 576px){
    #img1{
        width: 200%;
    }
    .pic-img{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #MAIN2{
        display: flex;
        flex-direction: column;
    }
    #card-3{
        justify-content: center;
        align-items: center;
    }
    #main7{
        display: flex;
        flex-direction: column;
    }
    #main7{
        display: flex;
        flex-direction: column;
    }
    #main8{
        width: 90%;
        margin-left: 30px;
    }
    #main9{
        width: 85%;
        margin-left: 30px;
        margin-top: 30px;
    }
    #main11{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-left: 10px;
    }
    #main11-1{
        margin: 0;
        padding: 0;
        margin-left: 10px;
        /* width: 90%; */
    }
    #main11-2{
        margin: 0;
        padding: 0;
        margin-left: 10px;
        padding-top: 90px;
        /* width: 90%; */
    }
}

@media screen and (max-width: 1200px) {
    #input1{
        width: 80% !important;
        margin-left: 40px;
    }
    #input2{
        width: 80%;
        margin-left: 40px;

    }
    #input3{
        width: 80%;
        margin-left: 40px;
    } #input4{
        width: 80%;
        margin-left: 40px;
    }
    textarea{
        width: 80%;
        margin-left: 40px;
    }
    #f1{
        margin-bottom: 70px;
    }
    #f2{
        margin-bottom: 70px;
    }
    #f3{
        margin-top: 70px;
    }
}
