*{
    margin: 0;
    padding: 0;

}

@font-face {
    font-family: 'playfair';
    src: url(fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}
#logo{
    font-family: 'playfair';
}
.navbar-nav{
    font-family: 'roboto';
}

.heading{
    font-family: 'playfair';
    color: white;
    /* margin: 0px 0px 48px; */
    /* width: 526px; */
    /* margin-top: 130px; */
    font-weight: bolder;
    font-size: 50px;
    margin-left: auto;
}
#heading2{
    color: gainsboro;
    margin-left: auto;
    width: 526px;
    margin-top: 60px;
    font-family: 'roboto';
}
  

#main {
    background: url('images/background.jpg') center center fixed no-repeat;
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

.navbar {
    background: transparent;
    z-index: 1000;
    color: white;
}
a{
    color: white;
}
.navbar-toggler-icon {
    color: white;
}
.navbar-toggler-icon:after {
    top: 26px;
}
.navbar-toggler-icon::after{
        background: #fff;
    
}

.btn{
    background-color: blueviolet;
    width: 150px;

}
#btn2{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
#para{
    color: antiquewhite !important;
}
#heading1{
    margin-left: 10px;
    font-size: 45px;
}
#button1{
    width: 150px;
}
.HEADING2{
    width: 70%;
    padding-left: 10px;
    color: antiquewhite;
    font-family: 'rbooto';
    font-size: 14px;
}
.heading2{

        width: 70%;
        padding-left: 10px;
        color: antiquewhite;
        font-family: 'rbooto';
        font-size: 14px;
}
#MAIN2{
    display: flex;
    
}
#img1{
    width: 456px;
    height: 456px;
}